In [1]:
import pandas as pd
df = pd.read_csv('/content/train.csv')

In [2]:
df.isna().sum()

survived      0
pclass        0
name          0
sex           0
age         177
sibsp         0
parch         0
ticket        0
fare          0
cabin       687
embarked      2
dtype: int64

In [5]:
age_mean_value=df['age'].mean()
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df['age']=df['age'].fillna(age_mean_value)
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.drop("cabin",axis=1,inplace=True)
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [9]:
filtered_age = df[df.age>40]
filtered_age

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S
33,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,S
35,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,S
...,...,...,...,...,...,...,...,...,...,...
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C

In [13]:
sorted_passengers = df.sort_values('name',ascending=True,kind ='heapsort')
df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [14]:
sorted_passengers.head(10)

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
845,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,S
746,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,S
279,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,S
308,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,C
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C
365,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,S
401,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,S
40,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,S
855,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,S
207,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,C

In [15]:
merged_df = pd.merge(df.head(2),df.tail(2),how='outer',indicator=True)
merged_df

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,_merge
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,left_only
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,left_only
2,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,right_only
3,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,right_only

In [17]:
group_df = df.groupby('name')
for key,item in group_df:
  print(group_df.get_group(key),"\n\n")

Streaming output truncated to the last 5000 lines.


     survived  pclass                  name     sex   age  sibsp  parch  \
289         1       3  Connolly, Miss. Kate  female  22.0      0      0

     ticket  fare embarked
289  370373  7.75        Q


     survived  pclass                  name   sex   age  sibsp  parch  ticket  \
116         0       3  Connors, Mr. Patrick  male  70.5      0      0  370369

     fare embarked
116  7.75        Q


     survived  pclass             name   sex   age  sibsp  parch    ticket  \
668         0       3  Cook, Mr. Jacob  male  43.0      0      0  A/5 3536

     fare embarked
668  8.05        S


     survived  pclass               name   sex   age  sibsp  parch  ticket  \
646         0       3  Cor, Mr. Liudevit  male  19.0      0      0  349231

       fare embarked
646  7.8958        S


     survived  pclass             name   sex   age  sibsp  parch  \
157         0       3  Corn, Mr. Harry  male  30.0      0      0

              ticket  fare embarked
157  SOTON/OQ 392090  8.05        S


     survived  pclass                                   name   sex  age  \
489         1       3  Coutts, Master. Eden Leslie "Neville"  male  9.0

     sibsp  parch      ticket  fare embarked
489      1      1  C.A. 37671  15.9        S


     survived  pclass                                    name   sex  age  \
348         1       3  Coutts, Master. William Loch "William"  male  3.0

     sibsp  parch      ticket  fare embarked
348      1      1  C.A. 37671  15.9        S


    survived  pclass               name   sex   age  sibsp  parch  ticket  \
94         0       3  Coxon, Mr. Daniel  male  59.0      0      0  364500

    fare embarked
94  7.25        S


    survived  pclass                      name   sex   age  sibsp  parch  \
67         0       3  Crease, Mr. Ernest James  male  19.0      0      0

       ticket    fare embarked
67  S.P. 3464  8.1583        S


     survived  pclass                      name   sex   age  sibsp  parch  \
160         0       3  Cribb, Mr. John Hatfield  male  44.0      0      1

     ticket  fare embarked
160  371362  16.1        S


     survived  pclass                          name   sex   age  sibsp  parch  \
745         0       1  Crosby, Capt. Edward Gifford  male  70.0      1      1

        ticket  fare embarked
745  WE/P 5735  71.0        S


     survived  pclass                     name     sex   age  sibsp  parch  \
540         1       1  Crosby, Miss. Harriet R  female  36.0      0      2

        ticket  fare embarked
540  WE/P 5735  71.0        S


     survived  pclass                 name   sex   age  sibsp  parch  ticket  \
844         0       3  Culumovic, Mr. Jeso  male  17.0      0      0  315090

       fare embarked
844  8.6625        S


   survived  pclass                                               name  \
1         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...

      sex   age  sibsp  parch    ticket     fare embarked
1  female  38.0      1      0  PC 17599  71.2833        C


     survived  pclass                            name   sex        age  sibsp  \
413         0       2  Cunningham, Mr. Alfred Fleming  male  29.699118      0

     parch  ticket  fare embarked
413      0  239853   0.0        S


     survived  pclass                   name   sex   age  sibsp  parch ticket  \
338         1       3  Dahl, Mr. Karl Edwart  male  45.0      0      0   7598

     fare embarked
338  8.05        S


     survived  pclass                          name     sex   age  sibsp  \
882         0       3  Dahlberg, Miss. Gerda Ulrika  female  22.0      0

     parch ticket     fare embarked
882      0   7552  10.5167        S


     survived  pclass               name   sex   age  sibsp  parch  ticket  \
687         0       3  Dakic, Mr. Branko  male  19.0      0      0  349228

        fare embarked
687  10.1708        S


     survived  pclass                      name   sex   age  sibsp  parch  \
510         1       3  Daly, Mr. Eugene Patrick  male  29.0      0      0

     ticket  fare embarked
510  382651  7.75        Q


     survived  pclass                    name   sex   age  sibsp  parch  \
857         1       1  Daly, Mr. Peter Denis   male  51.0      0      0

     ticket   fare embarked
857  113055  26.55        S


     survived  pclass                       name   sex   age  sibsp  parch  \
616         0       3  Danbom, Mr. Ernst Gilbert  male  34.0      1      1

     ticket  fare embarked
616  347080  14.4        S


     survived  pclass                                               name  \
423         0       3  Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...

        sex   age  sibsp  parch  ticket  fare embarked
423  female  28.0      1      1  347080  14.4        S


     survived  pclass                         name   sex   age  sibsp  parch  \
607         1       1  Daniel, Mr. Robert Williams  male  27.0      0      0

     ticket  fare embarked
607  113804  30.5        S


     survived  pclass              name   sex   age  sibsp  parch  ticket  \
321         0       3  Danoff, Mr. Yoto  male  27.0      0      0  349219

       fare embarked
321  7.8958        S


     survived  pclass                   name   sex   age  sibsp  parch  \
794         0       3  Dantcheff, Mr. Ristiu  male  25.0      0      0

     ticket    fare embarked
794  349203  7.8958        S


     survived  pclass                    name   sex   age  sibsp  parch  \
671         0       1  Davidson, Mr. Thornton  male  31.0      1      0

         ticket  fare embarked
671  F.C. 12750  52.0        S


     survived  pclass                            name   sex  age  sibsp  \
549         1       2  Davies, Master. John Morgan Jr  male  8.0      1

     parch      ticket   fare embarked
549      1  C.A. 33112  36.75        S


     survived  pclass                  name   sex   age  sibsp  parch  \
565         0       3  Davies, Mr. Alfred J  male  24.0      2      0

        ticket   fare embarked
565  A/4 48871  24.15        S


     survived  pclass                       name   sex   age  sibsp  parch  \
385         0       2  Davies, Mr. Charles Henry  male  18.0      0      0

           ticket  fare embarked
385  S.O.C. 14879  73.5        S


     survived  pclass               name     sex   age  sibsp  parch  ticket  \
635         1       2  Davis, Miss. Mary  female  28.0      0      0  237668

     fare embarked
635  13.0        S


     survived  pclass                                       name     sex  \
347         1       3  Davison, Mrs. Thomas Henry (Mary E Finck)  female

           age  sibsp  parch  ticket  fare embarked
347  29.699118      1      0  386525  16.1        S


     survived  pclass                        name   sex  age  sibsp  parch  \
788         1       3  Dean, Master. Bertram Vere  male  1.0      1      2

        ticket    fare embarked
788  C.A. 2315  20.575        S


    survived  pclass                     name   sex   age  sibsp  parch  \
93         0       3  Dean, Mr. Bertram Frank  male  26.0      1      2

       ticket    fare embarked
93  C.A. 2315  20.575        S


     survived  pclass                name   sex        age  sibsp  parch  \
335         0       3  Denkoff, Mr. Mitto  male  29.699118      0      0

     ticket    fare embarked
335  349225  7.8958        S


     survived  pclass                name   sex   age  sibsp  parch  \
320         0       3  Dennis, Mr. Samuel  male  22.0      0      0

        ticket  fare embarked
320  A/5 21172  7.25        S


    survived  pclass                           name     sex   age  sibsp  \
44         1       3  Devaney, Miss. Margaret Delia  female  19.0      0

    parch  ticket    fare embarked
44      0  330958  7.8792        Q


     survived  pclass                     name   sex   age  sibsp  parch  \
690         1       1  Dick, Mr. Albert Adrian  male  31.0      1      0

    ticket  fare embarked
690  17474  57.0        S


     survived  pclass                                       name     sex  \
781         1       1  Dick, Mrs. Albert Adrian (Vera Gillespie)  female

      age  sibsp  parch ticket  fare embarked
781  17.0      1      0  17474  57.0        S


     survived  pclass              name   sex   age  sibsp  parch  ticket  \
349         0       3  Dimic, Mr. Jovan  male  42.0      0      0  315088

       fare embarked
349  8.6625        S


     survived  pclass                       name   sex  age  sibsp  parch  \
445         1       1  Dodge, Master. Washington  male  4.0      0      2

    ticket     fare embarked
445  33638  81.8583        S


     survived  pclass                 name   sex        age  sibsp  parch  \
568         0       3  Doharr, Mr. Tannous  male  29.699118      0      0

    ticket    fare embarked
568   2686  7.2292        C


     survived  pclass                 name     sex   age  sibsp  parch  \
651         1       2  Doling, Miss. Elsie  female  18.0      0      1

     ticket  fare embarked
651  231919  23.0        S


    survived  pclass                                  name     sex   age  \
98         1       2  Doling, Mrs. John T (Ada Julia Bone)  female  34.0

    sibsp  parch  ticket  fare embarked
98      0      1  231919  23.0        S


     survived  pclass                 name   sex   age  sibsp  parch  ticket  \
890         0       3  Dooley, Mr. Patrick  male  32.0      0      0  370376

     fare embarked
890  7.75        Q


     survived  pclass                        name   sex   age  sibsp  parch  \
283         1       3  Dorking, Mr. Edward Arthur  male  19.0      0      0

         ticket  fare embarked
283  A/5. 10482  8.05        S


     survived  pclass                        name   sex   age  sibsp  parch  \
544         0       1  Douglas, Mr. Walter Donald  male  50.0      1      0

       ticket     fare embarked
544  PC 17761  106.425        C


    survived  pclass                      name     sex   age  sibsp  parch  \
79         1       3  Dowdell, Miss. Elizabeth  female  30.0      0      0

    ticket    fare embarked
79  364516  12.475        S


     survived  pclass                        name   sex   age  sibsp  parch  \
582         0       2  Downton, Mr. William James  male  54.0      0      0

    ticket  fare embarked
582  28403  26.0        S


     survived  pclass                  name   sex   age  sibsp  parch  ticket  \
130         0       3  Drazenoic, Mr. Jozef  male  33.0      0      0  349241

       fare embarked
130  7.8958        C


     survived  pclass                                             name  \
416         1       2  Drew, Mrs. James Vivian (Lulu Thorne Christian)

        sex   age  sibsp  parch ticket  fare embarked
416  female  34.0      1      1  28220  32.5        S


     survived  pclass              name   sex   age  sibsp  parch  ticket  \
280         0       3  Duane, Mr. Frank  male  65.0      0      0  336439

     fare embarked
280  7.75        Q


     survived  pclass                                               name  \
556         1       1  Duff Gordon, Lady. (Lucille Christiana Sutherl...

        sex   age  sibsp  parch ticket  fare embarked
556  female  48.0      1      0  11755  39.6        C


     survived  pclass                                          name   sex  \
599         1       1  Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")  male

      age  sibsp  parch    ticket     fare embarked
599  49.0      1      0  PC 17485  56.9292        C


     survived  pclass                          name     sex   age  sibsp  \
866         1       2  Duran y More, Miss. Asuncion  female  27.0      1

     parch         ticket     fare embarked
866      0  SC/PARIS 2149  13.8583        C


     survived  pclass                            name   sex   age  sibsp  \
675         0       3  Edvardsson, Mr. Gustaf Hjalmar  male  18.0      0

     parch  ticket   fare embarked
675      0  349912  7.775        S


     survived  pclass                          name   sex   age  sibsp  parch  \
658         0       2  Eitemiller, Mr. George Floyd  male  23.0      0      0

    ticket  fare embarked
658  29751  13.0        S


     survived  pclass                    name   sex   age  sibsp  parch  \
764         0       3  Eklund, Mr. Hans Linus  male  16.0      0      0

     ticket   fare embarked
764  347074  7.775        S


     survived  pclass                name   sex   age  sibsp  parch  ticket  \
129         0       3  Ekstrom, Mr. Johan  male  45.0      0      0  347061

      fare embarked
129  6.975        S


     survived  pclass             name   sex        age  sibsp  parch ticket  \
773         0       3  Elias, Mr. Dibo  male  29.699118      0      0   2674

      fare embarked
773  7.225        C


     survived  pclass                  name   sex   age  sibsp  parch ticket  \
532         0       3  Elias, Mr. Joseph Jr  male  17.0      1      1   2690

       fare embarked
532  7.2292        C


     survived  pclass                name   sex   age  sibsp  parch ticket  \
352         0       3  Elias, Mr. Tannous  male  15.0      1      1   2695

       fare embarked
352  7.2292        C


     survived  pclass                        name   sex   age  sibsp  parch  \
592         0       3  Elsbury, Mr. William James  male  47.0      0      0

       ticket  fare embarked
592  A/5 3902  7.25        S


     survived  pclass                           name     sex  age  sibsp  \
777         1       3  Emanuel, Miss. Virginia Ethel  female  5.0      0

     parch  ticket    fare embarked
777      0  364516  12.475        S


    survived  pclass                     name   sex        age  sibsp  parch  \
26         0       3  Emir, Mr. Farred Chehab  male  29.699118      0      0

   ticket   fare embarked
26   2631  7.225        C


     survived  pclass                           name     sex   age  sibsp  \
716         1       1  Endres, Miss. Caroline Louise  female  38.0      0

     parch    ticket     fare embarked
716      0  PC 17757  227.525        C


     survived  pclass                            name     sex   age  sibsp  \
496         1       1  Eustis, Miss. Elizabeth Mussey  female  54.0      1

     parch ticket     fare embarked
496      0  36947  78.2667        C


     survived  pclass                       name   sex   age  sibsp  parch  \
228         0       2  Fahlstrom, Mr. Arne Jonas  male  18.0      0      0

     ticket  fare embarked
228  236171  13.0        S


     survived  pclass                name   sex   age  sibsp  parch  ticket  \
525         0       3  Farrell, Mr. James  male  40.5      0      0  367232

     fare embarked
525  7.75        Q


     survived  pclass                name   sex        age  sibsp  parch  \
527         0       1  Farthing, Mr. John  male  29.699118      0      0

       ticket      fare embarked
527  PC 17483  221.7792        S


    survived  pclass                                               name  \
53         1       2  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...

       sex   age  sibsp  parch ticket  fare embarked
53  female  29.0      1      0   2926  26.0        S


     survived  pclass                             name   sex   age  sibsp  \
688         0       3  Fischer, Mr. Eberhard Thelander  male  18.0      0

     parch  ticket    fare embarked
688      0  350036  7.7958        S


     survived  pclass                     name     sex        age  sibsp  \
306         1       1  Fleming, Miss. Margaret  female  29.699118      0

     parch ticket      fare embarked
306      0  17421  110.8833        C


     survived  pclass              name   sex        age  sibsp  parch  \
428         0       3  Flynn, Mr. James  male  29.699118      0      0

     ticket  fare embarked
428  364851  7.75        Q


     survived  pclass             name   sex        age  sibsp  parch  ticket  \
825         0       3  Flynn, Mr. John  male  29.699118      0      0  368323

     fare embarked
825  6.95        Q


     survived  pclass                              name   sex   age  sibsp  \
572         1       1  Flynn, Mr. John Irwin ("Irving")  male  36.0      0

     parch    ticket     fare embarked
572      0  PC 17474  26.3875        S


     survived  pclass             name   sex        age  sibsp  parch ticket  \
643         1       3  Foo, Mr. Choong  male  29.699118      0      0   1601

        fare embarked
643  56.4958        S


     survived  pclass                                  name     sex   age  \
436         0       3  Ford, Miss. Doolina Margaret "Daisy"  female  21.0

     sibsp  parch      ticket    fare embarked
436      2      2  W./C. 6608  34.375        S


     survived  pclass                              name     sex  age  sibsp  \
147         0       3  Ford, Miss. Robina Maggie "Ruby"  female  9.0      2

     parch      ticket    fare embarked
147      2  W./C. 6608  34.375        S


    survived  pclass                    name   sex   age  sibsp  parch  \
86         0       3  Ford, Mr. William Neal  male  16.0      1      3

        ticket    fare embarked
86  W./C. 6608  34.375        S


     survived  pclass                                     name     sex   age  \
736         0       3  Ford, Mrs. Edward (Margaret Ann Watson)  female  48.0

     sibsp  parch      ticket    fare embarked
736      1      3  W./C. 6608  34.375        S


     survived  pclass                             name   sex   age  sibsp  \
452         0       1  Foreman, Mr. Benjamin Laventall  male  30.0      0

     parch  ticket   fare embarked
452      0  113051  27.75        C


     survived  pclass                            name     sex   age  sibsp  \
341         1       1  Fortune, Miss. Alice Elizabeth  female  24.0      3

     parch ticket   fare embarked
341      2  19950  263.0        S


    survived  pclass                        name     sex   age  sibsp  parch  \
88         1       1  Fortune, Miss. Mabel Helen  female  23.0      3      2

   ticket   fare embarked
88  19950  263.0        S


    survived  pclass                            name   sex   age  sibsp  \
27         0       1  Fortune, Mr. Charles Alexander  male  19.0      3

    parch ticket   fare embarked
27      2  19950  263.0        S


     survived  pclass               name   sex   age  sibsp  parch ticket  \
438         0       1  Fortune, Mr. Mark  male  64.0      1      4  19950

      fare embarked
438  263.0        S


     survived  pclass                     name   sex   age  sibsp  parch  \
344         0       2  Fox, Mr. Stanley Hubert  male  36.0      0      0

     ticket  fare embarked
344  229236  13.0        S


     survived  pclass                            name     sex   age  sibsp  \
309         1       1  Francatelli, Miss. Laura Mabel  female  30.0      0

     parch    ticket     fare embarked
309      0  PC 17485  56.9292        C


     survived  pclass                           name   sex   age  sibsp  \
660         1       1  Frauenthal, Dr. Henry William  male  50.0      2

     parch    ticket    fare embarked
660      0  PC 17611  133.65        S


     survived  pclass                                               name  \
334         1       1  Frauenthal, Mrs. Henry William (Clara Heinshei...

        sex        age  sibsp  parch    ticket    fare embarked
334  female  29.699118      1      0  PC 17611  133.65        S


     survived  pclass                                name     sex   age  \
539         1       1  Frolicher, Miss. Hedwig Margaritha  female  22.0

     sibsp  parch ticket  fare embarked
539      0      2  13568  49.5        C


     survived  pclass                              name   sex   age  sibsp  \
587         1       1  Frolicher-Stehli, Mr. Maxmillian  male  60.0      1

     parch ticket  fare embarked
587      1  13567  79.2        C


     survived  pclass                              name   sex        age  \